.content-row {
  margin: 3vw 0;
  padding: 0 4%;
  gap: 0.5vw;
}

.content {
  width: 16vw;
  display: inline-block;
  margin-right: 10px;
}

.content img {
  max-width: 100%;
  cursor: pointer;
}

.slider {
  overflow-x: scroll;
  white-space: nowrap;
  display: inline-block;
}


@media (max-width: 800px) {
  .content {
    width: 50%;
    margin-right: 0;
  }
}
