nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 4vw;
  font-size: 1.2vw;
  z-index: 10;
  transition: all 0.5s;
  background-color: transparent;
}

.nav-dark {
  background-color: black;
}

.brand {
  width: 100px;
  height: auto;
}

.left {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
  margin-left: 2vw;
  font-size: medium;
  font-weight: 500;
  position: relative;
  z-index: 11;
}

.nav-items a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 12;
  display: block;
  padding: 5px 10px;
}

.nav-items a:hover {
  color: #e5e5e5;
}

a.nav-items {
  position: relative;
  z-index: 12;
  color: white;
  text-decoration: none;
}

a.nav-items:hover {
  color: #e5e5e5;
}

.nav-item {
  cursor: pointer;
  position: relative;
  z-index: 11;
  white-space: nowrap;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.small {
  display: none;
}

@media (max-width: 800px) {
  .nav-items {
    display: none !important;
  }

  .small {
    display: block;
    font-size: 2vw;
  }

  .hide {
    display: none;
  }
}

header {
  position: relative;
  z-index: 10;
}
